@import "~bootstrap/scss/bootstrap";

.itemList {
  padding: 0;
  margin-bottom: 15px;
}

.img-wrap {
  line-height: 0;
  position: relative;
  width: 100%;
  // padding-bottom: 100%;
}

.itemList__img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemList__img img {
  max-width: 100%;
  max-height: 100%;
}

.itemList__buttonEdit {
  margin-top: 85px;
}

.itemList__buttonEdit button {
  padding: 10px 35px 10px 35px;
}

.itemList__name button {
  margin-right: 20px;
}

.itemList__name {
  margin-top: 15px;
}

.itemList__name--group {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

//page edit

body {
  background: #334155;
}

.app {
  margin: 30px;
}

.font-color {
  color: #ffff;
  font-weight: 400;
}

.upload-file {
  width: 200px;
  height: 180px;
  border: 1px solid #ffff;
}

.information__edit--name input {
  width: 400px;
}

.information__edit--group input {
  width: 400px;
}

// button upload file

.information__img input[type="file"] {
  display: none;
}

.information__img label {
  cursor: pointer;
}
