@import '~bootstrap/scss/bootstrap';


// .container-scenes{
//     margin-left: 12px;
//     margin-right: 12px;
// }

// .itemList{
//     padding: 0;
//     margin-bottom: 15px;
// }

// .itemList__buttonEdit{
//     margin-top: 85px;
// }

// .itemList__buttonEdit button{
//     padding: 10px 35px 10px 35px;
// }

// .itemList__info img {
//     width: 200px;
//     margin: 10px 10px 10px 10px;
// }

// .itemList__name button{
//     margin-right: 20px
// }

// .itemList__name{
//     margin-top: 15px;
// }


//page edit


body{
    background: #334155;
}

.app{
    margin: 30px;
}

.font-color{
    color: #ffff;
    font-weight: 400;
}

.upload-file{
    width: 200px;
    height: 180px;
    border: 1px solid #ffff;
}

.information__edit--name input {
    width: 400px;
} 

.information__edit--group input {
    width: 400px;
}



// button upload file

.information__img input[type="file"]{
    display: none;
}

.information__img label{
    color: #ffff;
    height: 40px;
    width: 110px;
    border-radius: 3px;
    background-color: #5048E5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}